/* Estilos específicos para la página "Inicio" */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;
}

.headerLogo {
  width: 70px;
  height: 70px;
  margin-left: 20px;
}

.main {
  padding: 20px;
  text-align: center;
}

.mainImg {
  width: 25%; 
  margin: 20px auto;
}

.section {
  margin-bottom: 20px;
  text-align: left;
}

.section h2 {
  font-size: 22px;
  margin-bottom: 10px;
}


.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.customButton {
  background-color: black;
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 16px 32px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.customButton:hover {
  background-color: #808080;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.customButton:focus {
  outline: none;
}

.customButton:active {
  transform: scale(0.98);
}
