
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: white;
}

header{
    display: flex;
    justify-content: space-evenly;
    color: white;
    background-color: #333;
    padding: 20px;
    margin-bottom: 20px;
}
.header-logo {
    width: 70px; 
    height: 70px;

}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

main {
    padding: 20px; 
}

main img {
    display: block;
    margin: 20px auto;
    max-width: 20%;
    height: auto;
}

section {
    margin-bottom: 20px; 
}

.imagen-nosotros {
    width: 300px; 
    height: auto;
    display: block;
    margin: 20px auto; 
}

footer {
    text-align: center;
    margin-top: 50px;
    font-size: 14px;
    color: #888;
  }
  
footer b {
    color: #444;
}